.bg {
    background-image: url("https://media.istockphoto.com/id/947886300/photo/loaf-of-bread-still-life.jpg?s=1024x1024&w=is&k=20&c=4EAsf7DPFcHQfTVvHNb5WQtwbVuHLYbBI-cYHXI-nxE=");
    background-attachment: fixed;
    background-size: cover;
    width: 700px;
}